{% extends "base_listar.html" %}

{% block 'title' %}Financeiro Abastecimentos{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block 'cabecalho' %}Financeiro Abastecimentos{% endblock %}

{% block 'campo_pesquisa' %}{{busca_form.as_p}}{% endblock %}

{% block 'url_cadastrar' %}{% url 'financeiro_abast_cadastrar' %}{% endblock %}

{% block 'colunas_cabecalho' %}
    <th scope="col">ID</th>
    <th scope="col">Data início</th>
    <th scope="col">Data fim</th>
    <th scope="col" style="min-width: 120px;">Litros L</th>
    <th scope="col" style="min-width: 120px;">Totais R$</th>
    <th scope="col">Ações</th>
{% endblock %}

{% block 'colunas_dados' %}
    <th scope="row">{{obj.id}}</th>
    <td>{{obj.data_inicial}}</td>
    <td>{{obj.data_final}}</td>
    <td>{{obj.litros}}</td>
    <td>{{obj.totais}}</td>
    <td style='width: 50px;'><div class="d-flex">
        <a href="{% url 'financeiro_abast_vizualizar' obj.pk %}"><span class="btn btn-primary p-1 me-1" title='Ver'>
            <i class="bi bi-eye"></i>
        </span></a>
        <button type="button" class="btn btn-danger p-1" data-url='{% url "financeiro_abast_deletar" obj.pk %}' data-bs-toggle="modal" data-bs-target="#modal_confirm" id='cancelarBtn' title='Cancelar'>
            <i class="bi bi-trash3"></i>
        </button>
    </div></td>
{% endblock %}

{% block 'modals' %}
    {% include "modal_confirm.html" %}
{% endblock  %}

{% block 'script' %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script> 
        function close_modal() {
            document.getElementById('confirmModal').style.display = 'none'
        }
        document.querySelectorAll('#cancelarBtn').forEach(element => {
            element.addEventListener('click', (event)=>{
                modal = document.getElementById('confirmModal')
                modal.style.display = 'block'
                document.getElementById('confirmUrl').href = event.srcElement.dataset.url
                document.getElementById('modal_close_btn').addEventListener('click', ()=>{
                    close_modal()
                })
                document.getElementById('modalSairBtn').addEventListener('click', ()=>{
                    close_modal()
                })
            });
        });
        document.querySelector('[name="data_inicio"]').style.width = '113px'
        document.querySelector('[name="data_fim"]').style.width = '113px'
        flatpickr('.datepicker', {
            mode: 'range',
            onClose: function(selectedDates, dateStr, instance) {
                if (selectedDates.length === 2) {
                    const [start, end] = selectedDates;                
                    document.querySelector('[name="data_inicio"]').value = instance.formatDate(start, 'd-m-Y');
                    document.querySelector('[name="data_fim"]').value = instance.formatDate(end, 'd-m-Y');
                }
            }
        });
    </script>
{% endblock 'script' %}
