{% extends "base.html" %}
{% load static %}

{% block 'title' %}Relatório Geral{% endblock %}

{% block 'body' %}
    <div class="container p-2">
        <div class="card text-center fw-bold fs-3 mb-2">Relatório Geral</div>
        {% for message in messages %}<div class="alert {{message.tags}}">{{message}}</div>{% endfor %}
        <form action="" method="post" class="d-flex align-items-center">
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-flex"><input type="submit" value="Confirmar" class="btn btn-primary ms-2"></div>
        </form>
        <div class="mt-2 d-flex flex-wrap">
            {% if dados %}
                <section class="d-flex flex-wrap justify-content-center">
                    <div class="me-2">
                        <span class="text-center card mb-2 fw-bold ps-2 pe-2">Mais abastecidos</span>
                        {% for key, value in dados.mais_abastecidos.items %}
                            <div class="card mb-2 text-center">
                                <div class="card-header">{{key}}</div>
                                <div class="card-body p-2"><h5 class="card-title fs-4">{{value}}</h5></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="me-2">
                        <span class="text-center card mb-2 fw-bold ps-2 pe-2">Médias</span>
                        {% for key, value in dados.medias.items %}
                            <div class="card mb-2 text-center">
                                <div class="card-header">{{key}}</div>
                                <div class="card-body p-2"><h5 class="card-title fs-4">{{value|floatformat:2}}</h5></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="me-2">
                        <span class="text-center card mb-2 fw-bold ps-2 pe-2">Totais</span>
                        {% for key, value in dados.total.items %}
                            <div class="card mb-2 text-center">
                                <div class="card-header">{{key}}</div>
                                <div class="card-body p-2"><h5 class="card-title fs-4">{{value|floatformat:2}}</h5></div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section class="me-2 w-100">
                    <span class="text-center card mb-2 fw-bold ps-2 pe-2">Gráficos</span>
                    <canvas id="consumo-dias" class="w-100"></canvas>
                </section>
            {% else %}
                <div class="card text-center mt-2 fw-bold fs-4 w-100">Sem Abastecimentos</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block 'script' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>        
        const ctx_abas_mes = document.getElementById('consumo-dias');
            new Chart(ctx_abas_mes, {
                type: 'line',
                data: {
                    labels: '{{dados.grafico_dias.labels|safe}}'.replace('[','').replace(']','').split(', '),
                    datasets: [{
                            label: 'Litros',
                            data: '{{dados.grafico_dias.data_litros|safe}}'.replace('[','').replace(']','').split(', '),
                            borderWidth: 1
                        },
                        {
                            label: 'Valor R$',
                            data: '{{dados.grafico_dias.data_valor|safe}}'.replace('[','').replace(']','').split(', '),
                            borderWidth: 1
                        },
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
    </script>
{% endblock %}