{% extends "base_listar.html" %}

{% block 'title' %}Veiculos{% endblock %}

{% block 'cabecalho' %}Veiculos{% endblock %}

{% block 'busca' %}Digite a busca{% endblock %}

{% block 'url_cadastrar' %}{% url 'veiculos_cadastrar' %}{% endblock  %}

{% block 'colunas_cabecalho' %}
    <th scope="col">Placa</th>
    <th scope="col">Modelo</th>
    <th scope="col">Marca</th>
    <th scope="col">Combustivel</th>
    <th scope="col">Tanque/L</th>
    <th scope="col">KM atual</th>
    <th scope="col">Status</th>
    <th scope="col">Ações</th>
{% endblock %}

{% block 'colunas_dados' %}
    <th scope="row" class="text-nowrap">{{obj.placa}}</th>
    <td class="w-50">{{obj.modelo}}</td>
    <td>{{obj.modelo.marca}}</td>
    <td>{% for tipo in obj.tipo_combustivel.all %}<span class="badge text-bg-warning ms-1">{{tipo}}</span>{% endfor %}</td>
    <td>{{obj.capacidade_tanque}}</td>
    <td>{{obj.quilometragem}}</td>
    <td>{% if obj.ativo %}Sim{% else %}Não{% endif %}</td>
    <td style='width: 100px;'>
        <div class="d-flex">
            <a class="btn btn-primary me-1 p-1" href="{% url 'veiculos_editar' obj.pk %}" title='Editar'>
                <i class="bi bi-pencil-fill"></i>
            </a>
            {% if obj.ativo %}
                <a href="{% url 'veiculos_desativar' obj.pk %}" class="btn btn-danger p-1 me-1" title='Desativar'>
                    <i class="bi bi-x-lg"></i>
                </a>
            {% else %}
                <a href="{% url 'veiculos_desativar' obj.pk %}" class="btn btn-success p-1 me-1" title='Ativar'>
                    <i class="bi bi-check-lg"></i>
                </a>
            {% endif %}
            <a href="{% url 'relatorio_veiculo' obj.pk %}" class="btn btn-primary p-1" title='Relatório'>
                <i class="bi bi-clipboard-data"></i>
            </a>
        </div>
    </td>
{% endblock %}