{% extends "base.html" %}
{% load static %}

{% block 'title' %}Abastecimento{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'geral/css/form.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container p-2">
        <div class="card text-center fw-bold fs-3 mb-2 bg-light">Vizualizar</div>
        {% for message in messages %}<div class="alert {{message.tags}}">{{message}}</div>{% endfor %}
        <div class="d-flex justify-content-end pe-3">
            <a title='Financeiro' class="btn btn-primary p-1 {% if not object.financeiro %}disabled{% endif %}" {% if object.financeiro %}href="{% url 'financeiro_abast_vizualizar' object.financeiro.pk %}"{% endif %}>
                <i class="bi bi-cash-coin"></i> Financeiro
            </a>
            <a href="{% url 'abastecimentos_editar' object.pk %}" class="btn btn-primary p-1 ms-1 {% if object.financeiro %}disabled{% endif %}"><i class="bi bi-pencil-fill"></i> Editar</a>
        </div>
        <div class="form-group">
            <div class="input-group form-fields">
                <p>
                    <label>Posto:</label>
                    <span class="form-control input">{{object.posto}}</span>
                </p>
                <p>
                    <label>Veiculo:</label>
                    <span class="form-control">{{object.veiculo}}</span>
                </p>
                <p>
                    <label>Tipo combustível:</label>
                    <span class="form-control"><span class="badge text-bg-warning ms-1">{{object.tipo_combustivel}}</span></span>
                </p>
                <p>
                    <label>Litros:</label>
                    <span class="form-control">{{object.litros|floatformat:2}}</span>
                </p>
                <p>
                    <label>Valor litro R$:</label>
                    <span class="form-control">{{object.valor_litro|floatformat:2}}</span>
                </p>
                <p>
                    <label>Valor total R$:</label>
                    <span class="form-control">{{object.valor_total|floatformat:2}}</span>
                </p>
                <p>
                    <label>Quilometragem KM:</label>
                    <span class="form-control">{{object.quilometragem}}</span>
                </p>
                <p>
                    <label>Data:</label>
                    <span class="form-control">{{object.data_abastecimento}}</span>
                </p>
                <p>
                    <label>Financeiro gerado:</label>
                    <span class="form-control d-flex align-items-center">
                        {% if object.financeiro %}
                            <span class="badge text-bg-success me-1 ms-0 p-2 d-flex align-items-center">Sim</span>
                        {% else %}<span class="badge text-bg-danger me-1 ms-0 p-2 d-flex align-items-center">Não</span>{% endif %}
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endblock 'body' %}