{% extends "base_listar.html" %}
{% load static %}

{% block 'title' %}Abastecimentos{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block 'cabecalho' %}Abastecimentos{% endblock %}

{% block 'campo_pesquisa' %}{{busca_form.as_p}}{% endblock %}

{% block 'url_cadastrar' %}{% url "abastecimentos_cadastrar" %}{% endblock %}

{% block 'colunas_cabecalho' %}
    <th scope="col">ID</th>
    <th scope="col">Nome</th>
    <th scope="col">Veículo</th>
    <th scope="col">Combustível</th>
    <th scope="col">Litros</th>
    <th scope="col">Valor/L R$</th>
    <th scope="col">Valor tot. R$</th>
    <th scope="col" style="min-width: 100px;">Data abastecimento</th>
    <th scope="col">Ações</th>
{% endblock %}

{% block 'colunas_dados' %}
    <th scope="row">{{obj.id}}</th>
    <td>{{obj.posto.nome}}</td>
    <td class="text-nowrap">{{obj.veiculo.placa}}</td>
    <td><span class="badge text-bg-warning ms-1">{{obj.tipo_combustivel}}</span></td>
    <td>{{obj.litros}}</td>
    <td>{{obj.valor_litro|floatformat:2}}</td>
    <td>{{obj.valor_total|floatformat:2}}</td>
    <td>{{obj.data_abastecimento}}</td>
    
    <td style='width: 100px;'><div class='d-flex' bis_skin_checked="1">
        <a class="btn btn-primary me-1 p-1 d-flex {% if obj.financeiro %}disabled{% endif %}" href="{% url 'abastecimentos_editar' obj.pk %}" title='Editar'>
            <i class="bi bi-pencil-fill"></i>
        </a>
        <a class="btn btn-primary me-1 p-1 d-flex" href="{% url 'abastecimentos_vizualizar' obj.pk %}" title='Ver'>
            <i class="bi bi-eye"></i>
        </a>
        <a title='Financeiro' class="btn btn-primary p-1 {% if not obj.financeiro %}disabled{% endif %}" {% if obj.financeiro %}href="{% url 'financeiro_abast_vizualizar' obj.financeiro.pk %}"{% endif %}>
            <i class="bi bi-cash-coin"></i>
        </a>
    </div></td>
{% endblock %}

{% block 'script' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.querySelector('[name="data_inicio"]').style.width = '113px'
        document.querySelector('[name="data_fim"]').style.width = '113px'
        flatpickr('.datepicker', {
            mode: 'range',
            onClose: function(selectedDates, dateStr, instance) {
                if (selectedDates.length === 2) {
                    const [start, end] = selectedDates;                
                    document.querySelector('[name="data_inicio"]').value = instance.formatDate(start, 'd-m-Y');
                    document.querySelector('[name="data_fim"]').value = instance.formatDate(end, 'd-m-Y');
                }
            }
        });
    </script>
{% endblock %}