{% extends "base.html" %}
{% load static %}

{% block 'title' %}Editar{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'postos/css/geral.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container p-2">
        <div class="card text-center fw-bold fs-3 mb-2">Editar</div>
        {% for message in messages %}<div class="alert {{message.tags}}">{{message}}</div>{% endfor %}
        <section class="d-flex flex-column align-items-center">
            <form method="post" class="d-flex flex-column" style="max-width: 250px;">
                {% csrf_token %}
                {{form.as_p}}
                <div class="w-100"><input type="submit" value="Confirmar" class="btn btn-primary"></div>
            </form>
        </section>
    </div>
{% endblock %}

{% block 'script' %}<script src="{% static 'postos/js/editar.js' %}"></script>{% endblock  %}
