{% extends "base.html" %}
{% load static %}

{% block 'body' %}
<div class="container p-2">
    <div class="card text-center fw-bold fs-3 mb-2 bg-light">{% block 'cabecalho' %}{% endblock %}</div>
    {% for message in messages %}<div class="alert {{message.tags}}">{{message}}</div>{% endfor %}
    <div class="col-md-12">
        <div class="card" bis_skin_checked="1">
            <div class="card-header" bis_skin_checked="1">
                <div class="d-flex align-items-center" bis_skin_checked="1">
                    <h4 class="card-title">Cadastrar</h4>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Cadastrar
                    </button>
                </div>
            </div>
            <div class="card-body" bis_skin_checked="1">
                <!-- Modal -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true" bis_skin_checked="1">
                    <div class="modal-dialog" role="document" bis_skin_checked="1">
                        <div class="modal-content" bis_skin_checked="1">
                            <div class="modal-header border-0" bis_skin_checked="1">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">Cadastrar</span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" bis_skin_checked="1">
                                <form action="{{cadastro_form.url}}" method="post">
                                    {% csrf_token %}
                                    <div class="row" bis_skin_checked="1">
                                        {{cadastro_form.as_p}}
                                        <div class="modal-footer border-0 mt-2" bis_skin_checked="1">
                                            <input type="submit" id="addRowButton" class="btn btn-primary" value="Cadastrar">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" bis_skin_checked="1">
                    <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 f"
                        bis_skin_checked="1">
                        <div class="row" bis_skin_checked="1">
                            <div class="col-sm-12 col-md-6 d-flex" bis_skin_checked="1">
                                <div id="add-row_filter" class="dataTables_filter" bis_skin_checked="1">
                                    <form action="" method="get" class="d-flex" id="busca-form">
                                        {% block 'campo_pesquisa' %}]
                                            <span class="bg-dark ps-2 btn-round">
                                                <i class="bi bi-search text-light"></i>
                                                <input type="search" name="busca" placeholder="{% block 'busca' %}{% endblock  %}" class="form-control form-control-sm">
                                            </span>
                                        {% endblock %}
                                        <input type="submit" value="Buscar" class="btn btn-primary p-1">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row" bis_skin_checked="1">
                            <div class="col-sm-12 overflow-x-auto" bis_skin_checked="1">
                                <table id="add-row" class="display table table-dark table-striped table-hover dataTable"
                                    role="grid" aria-describedby="add-row_info">
                                    <thead>
                                        <tr role="row">{% block 'colunas_cabecalho' %}{% endblock %}</tr>
                                    </thead>
                                    <tbody>
                                        {% if object_list %}
                                            {% for obj in object_list %}
                                                <tr>{% block 'colunas_dados' %}{% endblock %}</tr>
                                            {% endfor %}
                                        {% else %}
                                            <td class="text-center" colspan="100%">SEM RETORNO!!</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" bis_skin_checked="1">
                            <div class="col-sm-12 col-md-5" bis_skin_checked="1">
                                <div class="dataTables_info text-light" id="add-row_info" role="status" aria-live="polite"
                                    bis_skin_checked="1">Página {{page_obj.number}} de {{paginator.num_pages}}</div>
                            </div>
                            <div class="col-sm-12 col-md-7" bis_skin_checked="1">
                                <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate"
                                    bis_skin_checked="1">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous {% if not page_obj.has_previous %}disabled{% else %}active{% endif %}"
                                            id="add-row_previous"><a {% if page_obj.has_previous%}href="?page={{page_obj.previous_page_number}}"{% endif %}
                                                aria-controls="add-row" data-dt-idx="0" tabindex="0"
                                                class="page-link"><</a></li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="add-row"
                                                data-dt-idx="1" tabindex="0" class="page-link">{{page_obj.number}}</a>
                                        </li>
                                        <li class="paginate_button page-item next {% if not page_obj.has_next %}disabled{% else %}active{% endif %}"
                                            id="add-row_next"><a {% if page_obj.has_next%}href="?page={{page_obj.next_page_number}}" {% endif %}
                                                aria-controls="add-row" data-dt-idx="2" tabindex="0"
                                                class="page-link">></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block 'modals' %}{% endblock  %}
</div>
{% endblock %}

{% block 'script' %}{% endblock %}