{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'geral/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/fonts.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/atlantis.min.css' %}">
  <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
  <link rel="shortcut icon" href="{% static 'geral/img/favicon.png' %}" type="image/x-icon">
  <title>{% block 'title' %}{% endblock %} - Controle de Combustivel</title>
  <script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'geral/css/lista.css' %}">
  {% block 'head' %}{% endblock %}
</head>

<body data-background-color="dark" class="dark-mode">
  <div class="d-flex bg-dark wrapper">
    <div class="main-header" bis_skin_checked="1">
      <div class="logo-header" data-background-color="dark2" bis_skin_checked="1">
        <a href="{% url 'home' %}" class="logo">
          <img src="{% static 'geral/img/favicon.png' %}" alt="navbar brand" class="navbar-brand">
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="icon-menu"></i>
          </span>
        </button>
      </div>
      <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark2"></nav>
    </div>
    <div class="sidebar" data-background-color="dark2" bis_skin_checked="1">
      <div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;"
        bis_skin_checked="1">
        <div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible"
          style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 545px;" bis_skin_checked="1">
          <div class="sidebar-content" bis_skin_checked="1">
            <div class="user" bis_skin_checked="1">
              <div class="avatar-sm float-left mr-2" bis_skin_checked="1">
                <img src="{% static 'geral/img/favicon.png' %}" alt="..." class="avatar-img">
              </div>
              <div class="info" bis_skin_checked="1">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="true" class="">
                  <span>
                    Gerenciamento
                    <span class="user-level">Perfil</span>
                    <span class="caret"></span>
                  </span>
                </a>
                <div class="in collapse" id="collapseExample" bis_skin_checked="1">
                  <ul class="nav">
                    <li>
                      <a href="{% url 'logout' %}">
                        <span class="link-collapse">Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="nav nav-primary">
              <li class="nav-item active">
                <a href="{% url 'home' %}" class="collapsed" aria-expanded="false">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="collapse" href="#motoristas_bar">
                  <i class="fas fa-layer-group"></i>
                  <p>Motoristas</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="motoristas_bar" bis_skin_checked="1">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'motoristas' %}">
                        <span class="sub-item">Lista de motoristas</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item submenu">
                <a data-toggle="collapse" href="#veiculos_bar">
                  <i class="fas fa-th-list"></i>
                  <p>Veiculos</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="veiculos_bar" bis_skin_checked="1">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'veiculos' %}">
                        <span class="sub-item">Lista de veiculos</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-toggle="collapse" href="#postos_bar">
                  <i class="fas fa-pen-square"></i>
                  <p>Postos</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="postos_bar" bis_skin_checked="1">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'postos' %}">
                        <span class="sub-item">Lista de postos</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'abastecimentos' %}">
                        <span class="sub-item">Abastecimentos</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-toggle="collapse" href="#financeiro_bar">
                  <i class="fas fa-table"></i>
                  <p>Financeiro</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="financeiro_bar" bis_skin_checked="1">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'financeiro_abast' %}">
                        <span class="sub-item">Financeiro abastecimentos</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="scroll-element scroll-x scroll-scrolly_visible" bis_skin_checked="1">
          <div class="scroll-element_outer" bis_skin_checked="1">
            <div class="scroll-element_size" bis_skin_checked="1"></div>
            <div class="scroll-element_track" bis_skin_checked="1"></div>
            <div class="scroll-bar ui-draggable ui-draggable-handle" style="width: 88px;" bis_skin_checked="1"></div>
          </div>
        </div>
        <div class="scroll-element scroll-y scroll-scrolly_visible" bis_skin_checked="1">
          <div class="scroll-element_outer" bis_skin_checked="1">
            <div class="scroll-element_size" bis_skin_checked="1"></div>
            <div class="scroll-element_track" bis_skin_checked="1"></div>
            <div class="scroll-bar ui-draggable ui-draggable-handle" style="height: 505px; top: 0px;"
              bis_skin_checked="1"></div>
          </div>
        </div>
      </div>
    </div>
    <section id="body-content">{% block 'body' %}{% endblock %}</section>
    <script src="{% static 'geral/js/base.js' %}"></script>
    {% block 'script' %}{% endblock %}
  </div>
</body>

</html>