<div class="modal" tabindex="-1" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" id='modal_close_btn' class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza?</p>
            </div>
            <div class="modal-footer">
                <a href="" id="confirmUrl"><span type="button" id='confirmId' class="btn btn-primary">Confirmar</span></a>
                <button type="button" id="modalSairBtn" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>