{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="Width=320,Height=285, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'geral/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'geral/img/favicon.png' %}" type="image/x-icon">
</head>
<body class="bg-dark">
    <div class="container p-2">
        <div class="card text-center fw-bold fs-3 mb-2">Financeiros</div>
        {% for message in messages %}<div class="alert {{message.tags}}">{{message}}</div>{% endfor %}
        <div class="overflow-x-auto">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data inicial</th>
                        <th>Data final</th>
                        <th>Litros</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                        {% for obj in object_list %}
                            <tr>{% block 'colunas_dados' %}{% endblock %}
                                <td>{{obj.pk}}</td>
                                <td>{{obj.data_inicial}}</td>
                                <td>{{obj.data_final}}</td>
                                <td>{{obj.litros}}</td>
                                <td>{{obj.totais}}</td>
                                <td><div class="d-flex">
                                    <a href="{% url 'financeiro_abast_deletar' obj.pk %}?abast_pk={{abast_pk}}"><span class="btn btn-danger">Cancelar</span></a>
                                </div></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <td class="text-center" colspan="100%">SEM RETORNO!!</td>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short btn btn-secondary p-0" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </a>
            {% endif %}
            <span class="text-light fs-5 me-1">página {{page_obj.number}} de {{paginator.num_pages}}</span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short btn btn-secondary p-0" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                    </svg>
                </a> 
            {% endif %}
        </div>
    </div>
</body>
</html>