body {
    height: 100dvh;
}

#body-content {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    overflow-y: auto;
}

label, form .errorlist>li {
    color: white;
}

p:has(>#id_data_inicio), p:has(>#id_data_fim) {
    display: flex;
    align-items: center;
    margin: 0;
}

.main-header {
    display: none;
}

.sidebar {
    margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
    .main-header {
        display: block;
    }

    .sidebar {
        margin-top: 62px !important;
    }

    #body-content {
        margin-top: 62px;
        width: 100%;
        left: 0;
    }
}