body {
    height: 100dvh;
}

body>div, #body-content {
    width: 100%;
    height: 100%;
}

nav {
    height: 100%;
    transition: width .3s ease !important;
}

#options-box {
    transition: width .3s ease !important;
    overflow-x: hidden;
}

li {
    width: 100%;
    border-radius: 6px;
}

li:hover {
    background: linear-gradient(270deg, var(--bs-nav-pills-link-active-bg), transparent);
}

li>a {
    gap: 10px;
}

a>svg {
    min-width: 25px;
}