.input-group>p {
    display: flex;
    align-items: center;
    border-radius: var(--bs-border-radius) !important;
    overflow: hidden;
    min-height: 45px;
    margin-bottom: 5px;
}

.input-group>p>label, .input-group>p>input {
    height: 100%;
}

.input-group>p>label {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.input-group>p>input, .input-group>p>select {
    border-radius: 0 !important;
}

.input-group>p>select {
    max-height: 50px;
}

.input-group>p>select>option {
    display: flex;
    align-items: center;
}

.input-group>.errorlist {
    display:none;
}
