{% extends "base_listar.html" %}

{% block 'title' %}Motoristas{% endblock %}

{% block 'cabecalho' %}Motoristas{% endblock %}

{% block 'busca_input' %}Digite um username{% endblock %}

{% block 'url_cadastrar' %}{% url 'usuarios_cadastrar' %}{% endblock  %}

{% block 'colunas_cabecalho' %}
    <th scope="col">ID</th>
    <th scope="col">Username</th>
    <th scope="col">Senha</th>
    <th scope="col">Status</th>
    <th scope="col">Ações</th>
{% endblock %}

{% block 'colunas_dados' %}
    <th scope="row">{{obj.id}}</th>
    <td>{{obj.username}}</td>
    <td class="overflow-x-scroll" style="max-width: 150px">{{obj.password}}</td>
    <td>{% if obj.ativo %}Sim{% else %}Não{% endif %}</td>
    <td style='width: 100px;'>
        <div class="d-flex">
            <a class="btn btn-primary me-1 p-1" href="{% url 'usuarios_editar' obj.pk %}" title='Editar'>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
            </a>
            {% if obj.ativo %}
                <a href="{% url 'usuarios_desativar' obj.pk %}" class="btn btn-danger p-1" title='Desativar'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            {% else %}
                <a href="{% url 'usuarios_desativar' obj.pk %}" class="btn btn-success p-1" title='Ativar'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </td>
{% endblock %}