{% extends "base_listar.html" %}

{% block 'title' %}Motoristas{% endblock %}

{% block 'cabecalho' %}Motoristas{% endblock %}

{% block 'busca' %}Digite um username{% endblock %}

{% block 'url_cadastrar' %}{% url 'usuarios_cadastrar' %}{% endblock  %}

{% block 'colunas_cabecalho' %}
    <th scope="col">ID</th>
    <th scope="col">Username</th>
    <th scope="col">Status</th>
    <th scope="col">Ações</th>
{% endblock %}

{% block 'colunas_dados' %}
    <th scope="row">{{obj.id}}</th>
    <td>{{obj.username}}</td>
    <td>{% if obj.ativo %}Sim{% else %}Não{% endif %}</td>
    <td style='width: 100px;'>
        <div class="d-flex">
            <a class="btn btn-primary me-1 p-1" href="{% url 'usuarios_editar' obj.pk %}" title='Editar'>
                <i class="bi bi-pencil-fill"></i>
            </a>
            {% if obj.ativo %}
                <a href="{% url 'usuarios_desativar' obj.pk %}" class="btn btn-danger p-1" title='Desativar'>
                    <i class="bi bi-x-lg"></i>
                </a>
            {% else %}
                <a href="{% url 'usuarios_desativar' obj.pk %}" class="btn btn-success p-1" title='Ativar'>
                    <i class="bi bi-check-lg"></i>
                </a>
            {% endif %}
        </div>
    </td>
{% endblock %}